nav{
	width: 100%;
	position: fixed;
	z-index: 2;
	height: 76px;
	background-color: #000;
}
nav a{
	font-size: 14px;
	text-decoration: none;
	color: #B3B3B3;
	transition: all 0.3s;
	line-height: 76px;
}
nav a:hover{
	color: #fff;
}
.nav_con,.footer_con{
	margin: 0 auto;
	width: 83%;
	height: 100%;
	position: relative;
}
.cl{
	display: block;
	clear: both;
}
nav img{
	width: 100%;
}
nav .logo{
	margin-top: 12px;
	float: left;
}
.nav_item{
	height: 100%;
	float: right;
	overflow: hidden;
}
.nav_item li{
	text-align: center;
	height: 100%;
	float: left;
	width: 86px;
}
#nav_btn{
	display: none;
	color: #B3B3B3;
    font-size: 30px;
    padding-top: 30px;
}
#bar{
	width: 100%;
	position: absolute;
    bottom: -10px;
}
footer a{
	transition:all 0.3s;
	text-decoration: none;
	color: #B3B3B3;
}
footer a:hover{
	color: #BA1010;
}
footer p{
	line-height: 1.8;
}
footer{
	font-size: 13px;
	color: #B3B3B3;
	background-color: #000000;
	height: 100px;
	padding: 50px 0;
}
.footer_item>div{
	overflow: hidden;
	margin-bottom: 4px;
}
.footer_item>div a{
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #B3B3B3;
	float: left;
}
#noboder{
	border: none;
}
footer .logo{
	width: 192px;
	float: left;
}
.footer_item{
	float: right;
}
.banner{
	height: 100px;
}
@media only screen and (max-width: 1200px) {
	.nav_con,.footer_con{
		width: 98%;
	}
}
@media only screen and (max-width: 980px) {
	.nav_con,.footer_con{
		width: 98%;
	}
	footer .logo,.footer_item{
		margin: 0 auto 19px;
		float: none;
	}
	footer{
		text-align: center;
		height: auto;
	}
	.footer_item>div a:last-child{
		padding: 0;
		margin: 0;
	}
	.footer_item>div{
		margin: 0 auto 4px;
		width: 420px;
	}
	#bar{
		bottom: -8px;
	}
}
@media only screen and (max-width: 768px) {
	.nav_item li{
		display: none;
	}
	#nav_btn{
		display: block;
	}
	#bar{
		display: none;
	}
}