body {
	background-color: #f5f5f5;
}

.signinwrap {
	width: 100%;
	height: 100%;
}

.layout {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 30px;
	min-height: 780px;
}

.login-content {
	text-align: center;
	width: 860px;
	min-height: 620px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}

.ercode {
	background: url(../img/icon-c-ma.png) no-repeat;
	width: 80px;
	height: 76px;
	position: absolute;
	top: 6px;
	right: 6px;
}

.pt-logo-area {
	padding-top: 60px;
	margin-bottom: 30px;
	height: 100px;
}

.pt-login-frame {
	width: 320px;
	margin: 0 auto;
	position: relative;
}

.inputtxts {
	width: 306px;
	border: 1px solid #c2c2c2;
	height: 20px;
	box-shadow: 1px 1px 5px #e1e1e1 inset;
	color: #766ace;
	padding: 11px 0 11px 12px;
	font-size: 16px;
	color: #333;
}

.inputtxts:focus {
	outline: none;
	border: 1px solid #766ace;
}

.password-container {
	margin-top: 10px;
}

.errorTips {
	display: none;
	line-height: 14px;
	font-size: 14px;
	color: red;
	margin-top: 12px;
	text-align: left;
}

#submit {
	margin-top: 20px;
	width: 320px;
	padding: 12px 0;
	background-color: #766ace;
	text-align: center;
	border-radius: 2px;
	line-height: 16px;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	border: none;
}

.other_login_type {
	margin-top: 20px;
}

.oth_type_tit {
	padding-top: 10px;
	position: relative;
}

.hr {
	height: 1px;
	background-color: #675dc6;
}

.oth_type_tit p {
	width: 84px;
	padding: 0 25px;
	font-size: 14px;
	color: #675dc6;
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 3px;
}

.oth_type_links {
	margin-top: 30px;
}

.oth_type_links a {
	display: inline-block;
	margin: 0 18px;
	color: #888;
	font-size: 24px;
}

.icon-github-alt:hover {
	color: dodgerblue;
}

.icon-pinterest:hover {
	color: red;
}

.icon-twitter-sign:hover {
	color: lawngreen;
}

.logintxts {
	margin-top: 110px;
}

.logintxts {
	font-size: 14px;
	color: #766ace;
}

.mary-color {
	color: #766ace;
}

.account-footer {
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

.account-footer p {
	font-size: 12px;
	color: #333;
}
/*扫描登录样式*/

.ercode_area {
	display: none;
	text-align: center;
	width: 860px;
	min-height: 620px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}

.erform {
	background: url(../img/icon-c-c.png) no-repeat;
	width: 80px;
	height: 76px;
	position: absolute;
	top: 6px;
	right: 6px;
}

.code-tips {
	margin-top: 25px;
	color: #675dc6;
	font-size: 15px;
	font-weight: bold;
}