*{
    margin:0;
    padding:0;
}
body,html{
    width: 100%;

}
.bg1{
    /*margin: 0 auto;*/
    min-width: 1200px;
    height: 580px;
    background: url('http://mall.file.putaocdn.com/file/1d3a7291d0a754c5cb1a99fb2ab403666916f567.jpg') no-repeat scroll 50% center
}
.bg2{
    min-width: 1200px;
    height: 553px;
    background: url('../img/Z.jpg') no-repeat scroll 50% center
}
.bg3{
    min-width: 1200px;
    height: 536px;
    background: url('../img/9k=.jpg') no-repeat scroll 50% center
}
.bg4{
    min-width: 1200px;
    height: 536px;
    background: url('../img/9k==.jpg') no-repeat scroll 50% center
}
.bg5{
    min-width: 1200px;
    height: 545px;
    background: url('../img/Z==.jpg') no-repeat scroll 50% center
}
.bg6{
    min-width: 1200px;
    height: 545px;
    background: url('../img/9k===.jpg') no-repeat scroll 50% center
}
.bg7{
    min-width: 1200px;
    height: 547px;
    background: url('../img/2Q==.jpg') no-repeat scroll 50% center
}
.bg8{
    min-width: 1200px;
    height: 460px;
    background: url('../img/9k====.jpg') no-repeat scroll 50% center
}

.content2{
    width: 100%;
    height: 553px;
    position: absolute;
    top:580px;
}
.content2-1{
    width: 1200px;
    margin:0 auto;
    /*border:1px solid red;*/
    text-align: center;
}
.content2-1 a{
    display: inline-block;
    margin:0 19px;
    width: 129px;
    height: 129px;
    background: url('../img/K7tqQd03wbStHdAXYK0C.png') no-repeat scroll 50% center
}
.content2-1 img{
    margin-top: 14px;
}
@-webkit-keyframes rot {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);

    }
}
.content2-1 a:hover{
    -webkit-animation: "rot" .5s linear;
}
.content2-2{
    width: 1200px;
    margin:0 auto;
    background: url('../img/8pwABSq2vEdbqCXgAAAABJRU5ErkJggg==.png') no-repeat scroll bottom center;
    position: relative;
    padding-bottom: 50px;
}
.content2-2 img{
    margin:25px 0px 0px 120px;
}
.right{
    width: 450px;
    color: white;
    text-align: left;
    border:1px solid #5ae1fe;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #5ae1fe;
    padding:20px;
    position: absolute;
    left:550px;
    top:80px;
    display: none;
}
.right:nth-child(2){
    display: block;
}
h2{
    color: #5ae1fe;
    padding:10px 0;
}
.right p{
    font-size: 18px;
    line-height: 30px;
}


.content3{
    width: 100%;
    height: 553px;
    position: absolute;
    top:1170px;
}
.content3-1{
    width: 1200px;
    margin:0 auto;
    position: relative;
}
.c3-right{
    width: 420px;
    position: absolute;
    top:100px;
    left:700px;
    color: white;
}
h1{
    font-size: 50px;
    color: #5ae1fe;
}
.c3-right p{
    padding:10px;
    font-weight: bold;
}
.c3-right p:nth-child(2){
    font-size: 25px;
    color: #FDC62D;
}
.c3-right p:nth-child(3){
    font-size: 18px;
}
.c3-right p:nth-child(4){
    line-height: 30px;
    font-size: 18px;
}
.content3-1 img:nth-child(2){
    position: absolute;
    top:505px;
    left:325px;
}
i{
    position: absolute;
    top:675px;
    left:345px;
}
.c3-bottom,.c3-bottom1,.c3-bottom2,.c3-bottom3{
    width: 420px;
    position: absolute;
    top: 380px;
    left: 715px;;
}
.c3-bottom p,.c3-bottom1 p,.c3-bottom2 p,.c3-bottom3 p,.c3-bottom4 p{
    width: 93px;
    height: 35px;
    background-color: #DCDCDC;
    display: inline-block;
    margin:2px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    color: black;
}
.c3-bottom4{
    width: 220px;
    position: absolute;
    top: 465px;
    left: 918px;
}
.c3-bottom1,.c3-bottom2,.c3-bottom3{
    display: none;
}
.content4{
    width: 100%;
    position: absolute;
    top: 2065px;;
}
.content4-1{
    width: 920px;
    margin:0 auto;
}
.c4-1top h1{
    text-align: center;
    margin-bottom: 10px;
}
.c4-1top p:nth-child(2){
    font-size: 30px;
    color: #FDC62D;
    text-align: center;
    margin-bottom: 10px;
}
.c4-1top p:nth-child(3){
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.c4-1top p:nth-child(4){
    font-size: 20px;
    color: white;
    line-height: 30px;
}
.c4-1top{
    margin-bottom: 50px;
}
.c4-1bottom a img{
    position: relative;
    top:-290px;
    left:400px;
}
.content5{
    width: 100%;
    position: absolute;
    top: 2920px;;
}
.content5-1{
    width: 920px;
    margin:0 auto;
}
.content5-1 img:nth-child(1){
    margin-bottom: 70px;
}
.content5-1 img:nth-child(3){
    margin-top: 40px;
}
.video{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    display: none;
}
.video>div{
    width: 800px;
    margin:220px auto;
}
.video-top{
    width: 800px;
    height: 50px;
    background-color: white;
}
.video-top>p{
    float: left;
    font-size: 20px;
    line-height: 50px;
    margin-left: 20px;
}
.video-top a{
    float: right;
    text-decoration: none;
}
.video-top a p{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 20px;
    margin-top: 10px;
    color: #675DC6;
}
.video-top a p:hover{
    background-color: #675DC6;
    color: white;
}