html{
	font-size: 16px;
}
body{
	height: 2000px;
}
header {
	width: 100%;
	height: 60px;
	text-align: center;
	position: fixed;
	z-index: 10000;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

.head1 {
	max-width: 1000px;
	margin: 0 auto;
}
.head3{
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
}
.head2 {
	height: 60px;
	width: 100%;
	background-color: #17ACFF;
	position: absolute;
	top: 0;
	display: none;
}

.logo {
	float: left;
	line-height: 60px;
}

.logo img {
	height: 30px;
}

.head_right {
	float: right;
}

.head_right a {
	padding: 1rem 1.1rem 1.4rem;
	color: #fff;
	font-size: 1.3rem;
	font-weight: 100;
	display: inline-block;
	margin: 0;
	color: white;
	text-align: left;
}

.head_active {
	background-color: #39C1FF;
}

@media (min-width: 1200px) {
	.head1 {
		max-width: 1000px;
	}
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
	.head1 {
		max-width: 874px;
	}
	.head_right a {
		font-size: 1.1rem;
	}
	.head_right a {
		padding: 1rem 1.1rem 1.6rem;
	}
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	.head1 {
		max-width: 680px;
	}
	.head_right a {
		font-size: 1.1rem;
	}
	.head_right a {
		padding: 1rem 1.1rem 1.6rem;
	}
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
	.head1 {
		max-width: 680px;
	}
	
	.head_right a {
		font-size: 1.1rem;
	}
	.logo {
		display: none;
	}
	.head_right a {
		padding: 1rem 1.1rem 1.6rem;
	}
}
footer{
	width: 100%;
    min-height: 70px;
    background-color: #555;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
}
footer p{
	color: #fff;
	font-size: 1.4rem;
    margin: .8rem auto;
}
