
.a {
	width: 100%;
}

.a img {
	width: 100%;
}

.b {
	width: 60%;
	margin: 0 auto;
	margin-top: 3%;
	overflow: hidden;
}

.b a {
	text-decoration: none;
	color: #17acff;
}

.b h1 {
	color: #333333;
	font-size: 24px;
	text-decoration: none;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.b p {
	margin-top: 20px;
	margin-bottom: 30px;
}

.b1 {
	float: left;
	margin-right: 20px;
}

.b2 {
	margin-left: 125px;
	border-bottom: 1px dashed black;
	padding-bottom: 50px;
}

.b3 {
	color: #333333;
}

.c {
	width: 60%;
	margin: 0 auto;
	margin-top: 3%;
	overflow: hidden;
}

.c a {
	text-decoration: none;
	color: #17acff;
}

.c h1 {
	color: #333333;
	font-size: 24px;
	text-decoration: none;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.c p {
	margin-top: 20px;
	margin-bottom: 30px;
}

.c1 {
	float: left;
	margin-right: 20px;
}

.c2 {
	margin-left: 125px;
	border-bottom: 1px dashed black;
	padding-bottom: 50px;
}

.c3 {
	color: #333333;
}

.d {
	width: 60%;
	margin: 0 auto;
	margin-top: 3%;
	overflow: hidden;
}

.d a {
	text-decoration: none;
	color: #17acff;
}

.d h1 {
	color: #333333;
	font-size: 24px;
	text-decoration: none;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.d p {
	margin-top: 20px;
	margin-bottom: 30px;
}

.d1 {
	float: left;
	margin-right: 20px;
}

.d2 {
	margin-left: 125px;
	border-bottom: 1px dashed black;
	padding-bottom: 50px;
}

.d3 {
	color: #333333;
}

.e {
	width: 60%;
	margin: 0 auto;
	margin-top: 3%;
	overflow: hidden;
}

.e a {
	text-decoration: none;
	color: #17acff;
}

.e h1 {
	color: #333333;
	font-size: 24px;
	text-decoration: none;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.e p {
	margin-top: 20px;
	margin-bottom: 30px;
}

.e1 {
	float: left;
	margin-right: 20px;
}

.e2 {
	margin-left: 125px;
	border-bottom: 1px dashed black;
	padding-bottom: 50px;
}

.e3 {
	color: #333333;
}

.f {
	width: 60%;
	margin: 0 auto;
	margin-top: 3%;
	overflow: hidden;
}

.f a {
	text-decoration: none;
	color: #17acff;
}

.f h1 {
	color: #333333;
	font-size: 24px;
	text-decoration: none;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.f p {
	margin-top: 20px;
	margin-bottom: 30px;
}

.f1 {
	float: left;
	margin-right: 20px;
}

.f2 {
	margin-left: 125px;
	border-bottom: 1px dashed black;
	padding-bottom: 50px;
}

.f3 {
	color: #333333;
}

.g {
	width: 60%;
	margin: 0 auto;
	margin-top: 3%;
	overflow: hidden;
}

.g a {
	text-decoration: none;
	color: #17acff;
}

.g h1 {
	color: #333333;
	font-size: 24px;
	text-decoration: none;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
}

.g p {
	margin-top: 20px;
	margin-bottom: 30px;
}

.g1 {
	float: left;
	margin-right: 20px;
}

.g2 {
	margin-left: 125px;
	border-bottom: 1px dashed black;
	padding-bottom: 50px;
}

.g3 {
	color: #333333;
}